menu "Snoozeless Embedded Configuration"
    config HOST
        string "Host"
        default "snoozeless.com"
        help
            Server host name or URL.

    config PORT
        string "Port"
        default 443
        help
            Server port.
endmenu
