openapi: 3.0.3

info:
  title: Snoozeless
  description: REST API for the Snoozeless IoT alarm clock.
  version: 0.1.0

servers:
  - url: https://api.snoozeless.com/v1
    description: Production
  - url: https://localhost:3000/v1
    description: Local

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: Bearer
      bearerFormat: JWT

paths:
  # auth/user
  /auth/user/register:
    post:
      summary: Register user
      description: Register a new user.
      operationId: registerUser
      tags:
        - auth/user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - firstName
                - lastName
                - email
                - password
              properties:
                firstName:
                  type: string
                  format: name
                  description: User's first name.
                  example: "John"
                lastName:
                  type: string
                  format: name
                  description: User's last name.
                  example: "Doe"
                email:
                  type: string
                  format: email
                  description: User's email address.
                  example: "john.doe@example.com"
                password:
                  type: string
                  format: password
                  description: User's password.
                  example: "password"
      responses:
        '201':
          description: Successfully registered user.
        '400':
          description: Invalid request.

  /auth/user/login:
    post:
      summary: Log in user
      description: Logs in an existing user.
      operationId: logInUser
      tags:
        - auth/user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  type: string
                  format: email
                  description: User's email address.
                  example: "john.doe@example.com"
                password:
                  type: string
                  format: password
                  description: User's password.
                  example: "password"
      responses:
        '200':
          description: Successfully logged in user.
          content:
            application/json:
              schema:
                type: object
                properties:
                  accessToken:
                    type: string
                    format: jwt
                    description: Short-lived access token.
                    example: "eyJhbGciOiJub25lIiwidHlwIjoiSldUIn0.eyJzdWIiOiJfZVhhaUZLSjdidFFiZXBfcEN6VmIiLCJpYXQiOjE3MDAwMDAwMDAsImV4cCI6MTcwMDAwMzYwMCwicm9sZSI6InVzZXIiLCJzY29wZSI6ImFjY2VzcyJ9."
                  refreshToken:
                    type: string
                    format: jwt
                    description: Long-lived refresh token.
                    example: "eyJhbGciOiJub25lIiwidHlwIjoiSldUIn0.eyJzdWIiOiJfZVhhaUZLSjdidFFiZXBfcEN6VmIiLCJpYXQiOjE3MDAwMDAwMDAsImV4cCI6MTcwMDA4NjQwMCwicm9sZSI6InVzZXIiLCJzY29wZSI6InJlZnJlc2gifQ."
        '400':
          description: Invalid request.
        '401':
          description: Unauthorized.

  /auth/user/refresh:
    post:
      summary: Refresh user
      description: Refreshes the credentials of an authenticated user.
      operationId: refreshUser
      tags:
        - auth/user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - refreshToken
              properties:
                refreshToken:
                  type: string
                  format: jwt
                  description: Long-lived refresh token.
                  example: "eyJhbGciOiJub25lIiwidHlwIjoiSldUIn0.eyJzdWIiOiJfZVhhaUZLSjdidFFiZXBfcEN6VmIiLCJpYXQiOjE3MDAwMDAwMDAsImV4cCI6MTcwMDA4NjQwMCwicm9sZSI6InVzZXIiLCJzY29wZSI6InJlZnJlc2gifQ."
      responses:
        '200':
          description: Successfully refreshed user.
          content:
            application/json:
              schema:
                type: object
                properties:
                  accessToken:
                    type: string
                    format: jwt
                    description: Short-lived access token.
                    example: "eyJhbGciOiJub25lIiwidHlwIjoiSldUIn0.eyJzdWIiOiJfZVhhaUZLSjdidFFiZXBfcEN6VmIiLCJpYXQiOjE3MDAwMDM1OTksImV4cCI6MTcwMDAwNzE5OSwicm9sZSI6InVzZXIiLCJzY29wZSI6ImFjY2VzcyJ9."
                  refreshToken:
                    type: string
                    format: jwt
                    description: Long-lived refresh token.
                    example: "eyJhbGciOiJub25lIiwidHlwIjoiSldUIn0.eyJzdWIiOiJfZVhhaUZLSjdidFFiZXBfcEN6VmIiLCJpYXQiOjE3MDAwMDM1OTksImV4cCI6MTcwMDA4OTk5OSwicm9sZSI6InVzZXIiLCJzY29wZSI6InJlZnJlc2gifQ."
        '400':
          description: Invalid request.
        '401':
          description: Unauthorized.

  /auth/user/logout:
    post:
      summary: Log out user
      description: Logs out an authenticated user.
      operationId: logOutUser
      tags:
        - auth/user
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Successfully logged out user.
        '401':
          description: Unauthorized.

  # auth/device
  /auth/device/register:
    post:
      summary: Register device
      description: Registers a new device under a user's account.
      operationId: registerDevice
      tags:
        - auth/device
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - claimToken
              properties:
                claimToken:
                  type: string
                  format: jwt
                  description: One-time token from the user's account.
                  example: "eyJhbGciOiJub25lIiwidHlwIjoiSldUIn0.eyJzdWIiOiJfZVhhaUZLSjdidFFiZXBfcEN6VmIiLCJpYXQiOjE3MDAwMDAwNjAsImV4cCI6MTcwMDAwMDY2MCwiYWN0aW9uIjoicmVnaXN0ZXJEZXZpY2UifQ."
      responses:
        '201':
          description: Successfully registered device.
          content:
            application/json:
              schema:
                type: object
                properties:
                  accessToken:
                    type: string
                    format: jwt
                    description: Short-lived access token.
                    example: "eyJhbGciOiJub25lIiwidHlwIjoiSldUIn0.eyJzdWIiOiI5QmZack15M0FqYjJrYlRDYVo2Zk4iLCJpYXQiOjE3MDAwMDAwNjAsImV4cCI6MTcwMDAwMzY2MCwicm9sZSI6ImRldmljZSIsInNjb3BlIjoiYWNjZXNzIn0."
                  refreshToken:
                    type: string
                    format: jwt
                    description: Long-lived refresh token.
                    example: "eyJhbGciOiJub25lIiwidHlwIjoiSldUIn0.eyJzdWIiOiI5QmZack15M0FqYjJrYlRDYVo2Zk4iLCJpYXQiOjE3MDAwMDAwNjAsImV4cCI6MTcwMDA4NjQ2MCwicm9sZSI6ImRldmljZSIsInNjb3BlIjoicmVmcmVzaCJ9."
        '400':
          description: Invalid request.
        '401':
          description: Unauthorized.

  /auth/device/refresh:
    post:
      summary: Refresh device
      description: Refreshes the credentials of an authenticated device.
      operationId: refreshDevice
      tags:
        - auth/device
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - refreshToken
              properties:
                refreshToken:
                  type: string
                  format: jwt
                  description: Long-lived refresh token.
                  example: "eyJhbGciOiJub25lIiwidHlwIjoiSldUIn0.eyJzdWIiOiI5QmZack15M0FqYjJrYlRDYVo2Zk4iLCJpYXQiOjE3MDAwMDAwNjAsImV4cCI6MTcwMDA4NjQ2MCwicm9sZSI6ImRldmljZSIsInNjb3BlIjoicmVmcmVzaCJ9."
      responses:
        '200':
          description: Successfully refreshed device.
          content:
            application/json:
              schema:
                type: object
                properties:
                  accessToken:
                    type: string
                    format: jwt
                    description: Short-lived access token.
                    example: "eyJhbGciOiJub25lIiwidHlwIjoiSldUIn0.eyJzdWIiOiI5QmZack15M0FqYjJrYlRDYVo2Zk4iLCJpYXQiOjE3MDAwMDM2NTksImV4cCI6MTcwMDAwNzI1OSwicm9sZSI6ImRldmljZSIsInNjb3BlIjoiYWNjZXNzIn0."
                  refreshToken:
                    type: string
                    format: jwt
                    description: Long-lived refresh token.
                    example: "eyJhbGciOiJub25lIiwidHlwIjoiSldUIn0.eyJzdWIiOiI5QmZack15M0FqYjJrYlRDYVo2Zk4iLCJpYXQiOjE3MDAwMDM2NTksImV4cCI6MTcwMDA5MDA1OSwicm9sZSI6ImRldmljZSIsInNjb3BlIjoicmVmcmVzaCJ9."
        '400':
          description: Invalid request.
        '401':
          description: Unauthorized.

  # users/{userId}
  /users/{userId}:
    get:
      summary: Get user
      description: Get user profile information.
      operationId: getUser
      tags:
        - users/{userId}
      security:
        - bearerAuth: []
      parameters:
        - name: userId
          in: path
          required: true
          description: User's unique ID.
          schema:
            type: string
            format: nanoId
            example: "_eXaiFKJ7btQbep_pCzVb"
      responses:
        '200':
          description: Successfully retrieved user profile.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: nanoId
                    description: User's unique ID.
                    example: "_eXaiFKJ7btQbep_pCzVb"
                  firstName:
                    type: string
                    format: name
                    description: User's first name.
                    example: "John"
                  lastName:
                    type: string
                    format: name
                    description: User's last name.
                    example: "Doe"
                  email:
                    type: string
                    format: email
                    description: User's email address.
                    example: "john.doe@example.com"
        '401':
          description: Unauthorized.

    patch:
      summary: Update user
      description: Update user profile information.
      operationId: updateUser
      tags:
        - users/{userId}
      security:
        - bearerAuth: []
      parameters:
        - name: userId
          in: path
          required: true
          description: User's unique ID.
          schema:
            type: string
            format: nanoId
            example: "_eXaiFKJ7btQbep_pCzVb"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                firstName:
                  type: string
                  format: name
                  description: User's updated first name.
                  example: "John"
                lastName:
                  type: string
                  format: name
                  description: User's updated last name.
                  example: "Doe"
                email:
                  type: string
                  format: email
                  description: User's email address.
                  example: "john.doe@example.com"
      responses:
        '200':
          description: Successfully updated user profile.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: nanoId
                    description: User's unique ID.
                    example: "_eXaiFKJ7btQbep_pCzVb"
                  firstName:
                    type: string
                    format: name
                    description: User's updated first name.
                    example: "John"
                  lastName:
                    type: string
                    format: name
                    description: User's updated last name.
                    example: "Doe"
                  email:
                    type: string
                    format: email
                    description: User's email address.
                    example: "john.doe@example.com"
        '400':
          description: Invalid request.
        '401':
          description: Unauthorized.

    delete:
      summary: Delete user
      description: Delete the user.
      operationId: deleteUser
      tags:
        - users/{userId}
      security:
        - bearerAuth: []
      parameters:
        - name: userId
          in: path
          required: true
          description: User's unique ID.
          schema:
            type: string
            format: nanoId
            example: "_eXaiFKJ7btQbep_pCzVb"
      responses:
        '204':
          description: Successfully deleted user.
        '401':
          description: Unauthorized.

  # devices
  /devices:
    get:
      summary: Get devices
      description: Retrieve all devices for the authenticated user.
      operationId: getDevices
      tags:
        - devices
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Successfully retrieved devices.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      format: nanoId
                      description: Device's unique ID.
                      example: "9BfZrMy3Ajb2kbTCaZ6fN"
                    ownerId:
                      type: string
                      format: nanoId
                      description: Owning user's unique ID.
                      example: "_eXaiFKJ7btQbep_pCzVb"
                    name:
                      type: string
                      format: name
                      description: Device's name.
                      example: "Bedroom Alarm Clock"
                    timezone:
                      type: string
                      format: timezone
                      description: Device's timezone.
                      example: "America/New_York"
        '401':
          description: Unauthorized.

    post:
      summary: Post device
      description: Create a new clock resource associated with the authenticated user.
      operationId: postDevice
      tags:
        - devices
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  format: name
                  description: Device's name.
                  example: "Bedroom Alarm Clock"
                timezone:
                  type: string
                  format: timezone
                  description: Device's timezone.
                  example: "America/New_York"
      responses:
        '200':
          description: Successfully retrieved device.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: nanoId
                    description: Device's unique ID.
                    example: "9BfZrMy3Ajb2kbTCaZ6fN"
                  ownerId:
                    type: string
                    format: nanoId
                    description: Owning user's unique ID.
                    example: "_eXaiFKJ7btQbep_pCzVb"
                  name:
                    type: string
                    format: name
                    description: Device's name.
                    example: "Bedroom Alarm Clock"
                  timezone:
                    type: string
                    format: timezone
                    description: Device's timezone.
                    example: "America/New_York"
        '400':
          description: Invalid request.
        '401':
          description: Unauthorized.

  # devices/{deviceId}
  /device/{deviceId}:
    get:
      summary: Get device
      description: Get device information.
      operationId: getDevice
      tags:
        - devices/{deviceId}
      security:
        - bearerAuth: []
      parameters:
        - name: deviceId
          in: path
          required: true
          description: Device's unique ID.
          schema:
            type: string
            format: nanoId
            example: "9BfZrMy3Ajb2kbTCaZ6fN"
      responses:
        '200':
          description: Successfully retrieved device.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: nanoId
                    description: Device's unique ID.
                    example: "9BfZrMy3Ajb2kbTCaZ6fN"
                  ownerId:
                    type: string
                    format: nanoId
                    description: Owning user's unique ID.
                    example: "_eXaiFKJ7btQbep_pCzVb"
                  name:
                    type: string
                    format: name
                    description: Device's name.
                    example: "Bedroom Alarm Clock"
                  timezone:
                    type: string
                    format: timezone
                    description: Device's timezone.
                    example: "America/New_York"
        '401':
          description: Unauthorized.

    patch:
      summary: Update device
      description: Update device information.
      operationId: updateDevice
      tags:
        - devices/{deviceId}
      security:
        - bearerAuth: []
      parameters:
        - name: deviceId
          in: path
          required: true
          description: Device's unique ID.
          schema:
            type: string
            format: nanoId
            example: "9BfZrMy3Ajb2kbTCaZ6fN"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                  name:
                    type: string
                    format: name
                    description: Device's name.
                    example: "Bedroom Alarm Clock"
                  timezone:
                    type: string
                    format: timezone
                    description: Device's timezone.
                    example: "America/New_York"
      responses:
        '200':
          description: Successfully updated device.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: nanoId
                    description: Device's unique ID.
                    example: "9BfZrMy3Ajb2kbTCaZ6fN"
                  ownerId:
                    type: string
                    format: nanoId
                    description: Owning user's unique ID.
                    example: "_eXaiFKJ7btQbep_pCzVb"
                  name:
                    type: string
                    format: name
                    description: Device's name.
                    example: "Bedroom Alarm Clock"
                  timezone:
                    type: string
                    format: timezone
                    description: Device's timezone.
                    example: "America/New_York"
        '400':
          description: Invalid request.
        '401':
          description: Unauthorized.

    delete:
      summary: Delete device
      description: Delete the device.
      operationId: deleteDevice
      tags:
        - devices/{deviceId}
      security:
        - bearerAuth: []
      parameters:
        - name: deviceId
          in: path
          required: true
          description: Device's unique ID.
          schema:
            type: string
            format: nanoId
            example: "9BfZrMy3Ajb2kbTCaZ6fN"
      responses:
        '204':
          description: Successfully deleted user.
        '401':
          description: Unauthorized.
